<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../CSS/main.css" rel="stylesheet" />
    <link href="../CSS/menu.css" rel="stylesheet" />
    <link href="../CSS/index.css" rel="stylesheet" />
</head>
<body>
    <div class="registration">
        <input class="doctor-signup-input" value="a" placeholder="Họ tên" />
        <input class="doctor-signup-input" value="a"  placeholder="Tên tài khoản" />
        <input class="doctor-signup-input"  value="a" placeholder="Chuyên khoa" />
        <input class="doctor-signup-input"  value="a" placeholder="Số điện thoại" />
        <input class="doctor-signup-input"  value="a" placeholder="Email" />
        <input class="doctor-signup-input"  value="12-12-1990" placeholder="Năm sinh" />
        <input class="doctor-signup-input"  value="a" placeholder="Mật khẩu" />
        <input class="doctor-signup-input"  placeholder="Nhập lại mật khẩu" />
        <button class="doctor-signup">Đăng ký</button>
    </div>
    <script src="../Scripts/libraries/jquery-3.4.1.min.js"></script>
    <script src="../Libraries/jquery-ui.min.js"></script>
    <script src="../Scripts/views/base.js"></script>
    <script src="../Scripts/views/index.js"></script>
</body>
</html>