<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="HTML5 Template Crizal" />
    <meta name="description" content="HealthRecord" />

    <!-- title -->
    <title>HealthRecord</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="../img/logos/favicon.png">
    <link rel="apple-touch-icon" href="../img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="../CSS/plugins.css" />

    <!-- revolution slider css -->
    <link rel="stylesheet" href="../CSS/rev_slider/settings.css">
    <link rel="stylesheet" href="../CSS/rev_slider/layers.css">
    <link rel="stylesheet" href="../CSS/rev_slider/navigation.css">

    <!-- switcher css -->
    <link href="../CSS/switcher.css" rel="stylesheet">

    <!-- search css -->
    <link rel="stylesheet" href="../search/search.css" />

    <!-- custom css -->
    <link href="../CSS/styles.css" rel="stylesheet" id="colors">

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->
    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style1 menu_area-light">
            <div class="navbar-default">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="javascript:void(0)">Đăng ký</a>
                                            <ul>
                                                <li><a class="header-component registration doctor">Bác sĩ</a></li>
                                                <li><a class="header-component registration patient">Bệnh nhân</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Đăng nhập</a>
                                            <ul>
                                                <li><a class="header-component login doctor">Bác sĩ</a></li>
                                                <li><a class="header-component login patient">Bệnh nhân</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->


                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->
        <!-- start revolution slideshow-->
        <div class="rev_slider_wrapper">
            <div class="rev_slider" id="rev_slider_3" data-version="5.4.5">
                <ul>
                    <!-- slide 1 -->
                    <li data-fstransition="fade" data-transition="fade" data-easein="default" data-easeout="default"
                        data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Xếp lịch khám bệnh">

                        <!-- overlay -->
                        <div class="opacity-medium bg-black z-index-1"></div>

                        <!-- main image -->
                        <img src="../img/slider/slide10.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover"
                             data-bgparallax="7" class="rev-slidebg">

                        <!-- hero title -->
                        <div class="tp-caption hero-text alt-font font-weight-600 text-white" data-x="30"
                             data-y="center" data-voffset="[-84,-63,-68,-108]" data-fontsize="[72,62,52,46]"
                             data-lineheight="[72,62,52,46]" data-width="[none, none, none, 300]"
                             data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
"delay":1000,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]' data-splitout="none">
                            Xếp lịch khám bệnh
                        </div>

                        <!-- hero subtitle -->
                        <div class="tp-caption small-text text-white slider-text" data-x="30" data-y="center"
                             data-voffset="[10,40,36,56]" data-fontsize="[21,21,21,21]" data-lineheight="34"
                             data-width="[600, 500, 400, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]"
                             data-frames='[{
"delay":1100,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]'>
                            <p class="white-space">Bác sĩ và bệnh nhân có thể lên lịch đã thỏa thuận trước.</p>
                        </div>

                        <!-- button -->
                        <div class="tp-caption" data-x="30" data-y="center" data-voffset="[102,145,150,204]"
                             data-lineheight="55" data-hoffset="0" data-frames='[{
"delay":1200,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]'>
                        </div>

                    </li>
                    <!-- end slide 1 -->
                    <!-- SLIDE 2 -->
                    <li data-fstransition="fade" data-transition="fade" data-easein="default" data-easeout="default"
                        data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Lịch sử khám bệnh">

                        <!-- Overlay -->
                        <div class="opacity-medium bg-black z-index-1"></div>

                        <!-- main image -->
                        <img src="../img/slider/slide12.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover"
                             data-bgparallax="7" class="rev-slidebg">

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-text alt-font font-weight-600 text-white text-center"
                             data-x="['center','center','center','center']" data-y="center"
                             data-voffset="[-84,-63,-68,-108]" data-fontsize="[72,62,52,46]"
                             data-lineheight="[72,62,52,46]" data-width="[none, none, none, 300]"
                             data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
"delay":1000,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]' data-splitout="none">
                            Lịch sử khám bệnh
                        </div>

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption small-text text-white slider-text text-center"
                             data-x="['center','center','center','center']" data-y="center" data-voffset="[10,40,36,56]"
                             data-fontsize="[21,21,21,21]" data-lineheight="34" data-width="[600, 500, 400, 300]"
                             data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
"delay":1100,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]'>
                            <p class="white-space">Xem trước đây đã từng đi khám bệnh gì.</p>
                        </div>

                        <!-- BUTTON -->
                        <div class="tp-caption text-center" data-x="['center','center','center','center']"
                             data-y="center" data-voffset="[102,145,150,204]" data-lineheight="55" data-hoffset="0"
                             data-frames='[{
"delay":1200,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]'>
                        </div>

                    </li>
                    <!-- end slide 1 -->
                    <!-- SLIDE 3 -->
                    <li data-fstransition="fade" data-transition="fade" data-easein="default" data-easeout="default"
                        data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="Tương tác tiện lợi">

                        <!-- Overlay -->
                        <div class="opacity-medium bg-black z-index-1"></div>

                        <!-- main image -->
                        <img src="../img/slider/slide11.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover"
                             data-bgparallax="7" class="rev-slidebg">

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-text alt-font font-weight-600 text-white text-right"
                             data-x="['right','right','right','right']" data-y="center"
                             data-hoffset="['30','30',30','30']" data-voffset="[-84,-63,-68,-108]"
                             data-fontsize="[72,62,52,46]" data-lineheight="[72,62,52,46]"
                             data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]"
                             data-frames='[{
"delay":1000,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]' data-splitout="none">
                            Tương tác tiện lợi
                        </div>

                        <!-- HERO SUBTITLE -->
                        <div class="tp-caption small-text text-white slider-text"
                             data-x="['right','right','right','right']" data-y="center"
                             data-hoffset="['30','30',30','30']" data-voffset="[10,40,36,56]"
                             data-fontsize="[21,21,21,21]" data-lineheight="34" data-width="[600, 500, 400, 300]"
                             data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
"delay":1100,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]'>
                            <p class="white-space text-right">Hỗ trợ giao tiếp giữa bác sĩ và bệnh nhân.</p>
                        </div>

                        <!-- BUTTON -->
                        <div class="tp-caption text-right" data-x="['right','right','right','right']" data-y="center"
                             data-hoffset="['30','30',30','30']" data-voffset="[102,145,150,204]" data-lineheight="55"
                             data-frames='[{
"delay":1200,
"speed":900,
"frame":"0",
"from":"y:150px;opacity:0;",
"ease":"Power3.easeOut",
"to":"o:1;"
},{
"delay":"wait",
"speed":1000,
"frame":"999",
"to":"opacity:0;","ease":"Power3.easeOut"
}]'>
                        </div>

                    </li>
                    <!-- end slide 1 -->

                </ul>
            </div>
        </div>
        <!-- end revolution slideshow-->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->
    <!-- Java script -->
    <script src="../js/core.min.js"></script>

    <!-- serch -->
    <script src="../search/search.js"></script>

    <!-- revolution slider js files start -->
    <script src="../js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.video.min.js"></script>
    <!-- revolution slider js files end -->
    <!-- custom scripts -->
    <script src="../js/main.js"></script>

    <!-- contact form scripts -->
    <script src="../js/mailform/jquery.form.min.js"></script>
    <script src="../js/mailform/jquery.rd-mailform.min.c.js"></script>
    <script src="../Libraries/jquery-ui.min.js"></script>
    <script src="../Scripts/views/base.js"></script>
    <script src="../Scripts/views/index.js"></script>
    <!-- all js include end -->
</body>

</html>