<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../CSS/main.css" rel="stylesheet" />
    <link href="../CSS/menu.css" rel="stylesheet" />
    <link href="../CSS/index.css" rel="stylesheet" />
</head>
<body>
    <div class="login-main">
        <input class="patient-login-username" placeholder="Tên đâng nhập" />
        <input class="patient-login-password" placeholder="Mật khẩu" type="password"/>
        <div><button class="patient-login">Đăng nhập</button></div>
    </div>
    <script src="../Scripts/libraries/jquery-3.4.1.min.js"></script>
    <script src="../Libraries/jquery-ui.min.js"></script>
    <script src="../Scripts/views/base.js"></script>
    <script src="../Scripts/views/index.js"></script>
</body>
</html>