<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Patient</title>
    <link href="../Libraries/jquery-ui.min.css" rel="stylesheet" />
    <link href="../CSS/main.css" rel="stylesheet" />
    <link href="../CSS/menu.css" rel="stylesheet" />
    <link href="../CSS/patient.css" rel="stylesheet" />

</head>
<body>
    <div class="menu">
        <div class="header-menu">
            HeathRecords
        </div>
        <div class="main-menu">
            <div class="sub-main-menu patient homepage">Trang chủ </div>
            <div class="sub-main-menu patient history">Lịch sử khám bệnh </div>
            <div class="sub-main-menu patient schedule">Đặt lịch hẹn</div>
        </div>
    </div>
    <div class="main-body">
        <div class="header-main-body">
            <div class="header-component patient admin">Admin</div>
            <div class="header-component patient logout">Đăng xuất</div>
        </div>
        <div class="white-space">
            Lịch sử khám bệnh
        </div>
        <div class="content-main-body">
            <div class="toolbar">
                <div class="sub-toolbar patienthistory view">Xem</div>
            </div>
        </div>
        <div class="main-table patient history">
            <table>
                <thead>
                    <tr>
                        <th patienthistory="MedicalExaminationDetailId">
                            <div class="filter-text">Mã số</div>
                            <div class="under-thead">
                                <input />
                            </div>
                        </th>
                        <th patienthistory="ExaminationDay">
                            <div class="filter-text">Ngày khám</div>
                            <div class="under-thead">
                                <input />
                            </div>
                        </th>
                        <th patienthistory="DoctorName">
                            <div class="filter-text">Tên bác sĩ</div>
                            <div class="under-thead">
                                <input />
                            </div>
                        </th>
                        <th patienthistory="Diagnose">
                            <div class="filter-text">Chẩn đoán</div>
                            <div class="under-thead">
                                <input />
                            </div>
                        </th>
                        <th patienthistory="DiagnoseDetail">
                            <div class="filter-text">Đơn thuốc</div>
                            <div class="under-thead">
                                <input />
                            </div>
                        </th>
                        <th patienthistory="Status">
                            <div class="filter-text">Trạng thái</div>
                            <div class="under-thead">
                                <input />
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="dialog patienthistory view" title="Xem lịch sử">
        <div class="dialog-chil"><label>Mã lịch khám</label><input class="input mecode" /></div>
        <div class="dialog-chil"><label>Thời gian</label><input class="input" /></div>
        <div class="dialog-chil"><label>Mã bác sĩ</label><input class="input" /></div>
        <div class="dialog-chil"><label>Bác sĩ</label><input class="input" /></div>
        <div class="dialog-chil"><label>Chẩn đoán</label><input class="input" /></div>
        <div class="dialog-chil"><label>Trạng thái</label><input class="input" /></div>
        <div class="dialog-chil1"><label>Kê đơn</label><textarea class="input1" rows="3" cols="40"></textarea></div>
        <div class="dialog-chil1"><label>Ghi chú</label><textarea class="input1" rows="3" cols="40"></textarea></div>
        <button class="save">Lưu</button>
    </div>
    <script src="../Scripts/libraries/jquery-3.4.1.min.js"></script>
    <script src="../Libraries/jquery-ui.min.js"></script>
    <script src="../Scripts/common/common.js"></script>
    <script src="../Scripts/views/base.js"></script>
    <script src="../Scripts/views/patient.js"></script>
    <script src="../Scripts/views/patienthistory.js"></script>
</body>
</html>