
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="../CSS/plugins.css" />

    <!-- switcher css -->
    <link href="../CSS/switcher.css" rel="stylesheet">

    <!-- search css -->
    <link rel="stylesheet" href="../search/search.css" />

    <!-- custom css -->
    <link href="../CSS/styles.css" rel="stylesheet" id="colors">
</head>
<body>
    <!--<div class="login-main">
        <input class="doctor-login-username" placeholder="Tên đăng nhập" />
        <input class="doctor-login-password" placeholder="Mật khẩu" type="password" />
        <div><button class="doctor-login">Đăng nhập</button></div>
    </div>-->
    <!-- start advice form section -->
    <section class="parallax" data-overlay-dark="7" data-background="img/bg/bg2.jpg">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12 sm-margin-30px-bottom">

                    <div class="padding-30px-right sm-no-padding-right">
                        <div class="row">
                            <div class="col-12">

                                <div class="section-heading white left half">
                                    <h4 class="font-weight-600">Hỗ trợ</h4>
                                </div>

                            </div>

                            <div class="col-12 margin-5px-top">
                                <div class="padding-25px-bottom sm-padding-20px-bottom border-bottom border-color-light-white">
                                    <span class="d-inline-block font-size26 sm-font-size22 xs-font-size20 line-height-30 text-light-gray vertical-align-top width-30px xs-width-25px"><i class="fas fa-phone vertical-align-top"></i></span>
                                    <div class="d-inline-block vertical-align-top padding-10px-left width-75">
                                        <h5 class="margin-5px-bottom text-white text-uppercase font-size15 xs-font-size14">Điện thoại</h5>
                                        <p class="no-margin line-height-normal text-light-gray">(+44) 123 456 789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="padding-25px-tb sm-padding-20px-tb">
                                    <span class="d-inline-block font-size26 sm-font-size22 xs-font-size20 line-height-30 text-light-gray vertical-align-top width-30px xs-width-25px"><i class="far fa-envelope vertical-align-top"></i></span>
                                    <div class="d-inline-block vertical-align-top padding-10px-left width-75">
                                        <h5 class="margin-5px-bottom text-white text-uppercase font-size15 xs-font-size14">Email</h5>
                                        <p class="no-margin line-height-normal text-light-gray">email@youradress.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="contact-form-box bg-white padding-30px-all sm-padding-20px-all border border-width-8">
                        <h5 class="font-size18">Đăng nhập bằng tài khoản Bệnh nhân.</h5>
                        <form method="post" action="bat/rd-mailform.php" class="mailform off2">
                            <input type="hidden" name="form-type" value="contact">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="patient-login-username" type="text" name="name" placeholder="Tên đăng nhập" data-constraints="@LettersOnly @NotEmpty">
                                </div>
                                <div class="col-md-12">
                                    <input class="patient-login-password" name="message" type="password" placeholder="Mật khẩu" data-constraints="@NotEmpty"></input>
                                </div>
                                <div class="mfControls col-md-12">
                                    <button type="submit" class="butn theme patient-login">Đăng nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end advice form section -->
    <!-- Java script -->
    <script src="../js/core.min.js"></script>

    <!-- serch -->
    <script src="../search/search.js"></script>

    <!-- custom scripts -->
    <script src="../js/main.js"></script>

    <!-- contact form scripts -->
    <script src="../js/mailform/jquery.form.min.js"></script>
    <script src="../js/mailform/jquery.rd-mailform.min.c.js"></script>
    <script src="../Scripts/views/base.js"></script>
    <script src="../Scripts/views/index.js"></script>
</body>
</html>