<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../CSS/main.css" rel="stylesheet" />
    <link href="../CSS/menu.css" rel="stylesheet" />
    <link href="../CSS/index.css" rel="stylesheet" />
</head>
<body>
    <div class="registration-login">
        <input class="patient-signup-input"  placeholder="Họ tên" />
        <input class="patient-signup-input" placeholder="Năm sinh" />
        <input class="patient-signup-input" placeholder="Số điện thoại" />
        <input class="patient-signup-input"  placeholder="Email" />
        <input class="patient-signup-input"  placeholder="Giới tính" />
        <input class="patient-signup-input" placeholder="Địa chỉ" />
        <input class="patient-signup-input" placeholder="Mật khẩu" />
        <input class="patient-signup-input" placeholder="Nhập lại mật khẩu" />
        <button class="patient-signup">Đăng ký</button>
    </div>
    <script src="../Scripts/libraries/jquery-3.4.1.min.js"></script>
    <script src="../Libraries/jquery-ui.min.js"></script>
    <script src="../Scripts/views/base.js"></script>
    <script src="../Scripts/views/index.js"></script>
</body>
</html>